# Copy this to .env for your own machine if you want.
# NEVER commit the real .env file.

AZURE_SUBSCRIPTION_ID=<your-subscription-id>
AZURE_TENANT_ID=<your-tenant-id>
AZURE_RESOURCE_GROUP=rg-azde-poc01-dev
AZURE_LOCATION=centralindia
AZURE_STORAGE_ACCOUNT=<globally-unique-storage-account>
AZURE_ADF_NAME=<globally-unique-adf-name>
AZURE_SQL_SERVER=<globally-unique-sql-server-name>
AZURE_SQL_DATABASE=sqldb-azde-poc01-dev
AZURE_KEY_VAULT=<globally-unique-key-vault-name>
