{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "DATA_BACKEND": "mock",
    "AZURE_SQL_SERVER": "<sql-server>.database.windows.net",
    "AZURE_SQL_DATABASE": "poc06db",
    "AZURE_SQL_ODBC_DRIVER": "ODBC Driver 18 for SQL Server"
  }
}
